body {
    margin: 0; /* Entfernt den Standardabstand des Bodys */
}

h1 {
    font-family: 'Allura', sans-serif; /* Setze die Schriftart für alle h1-Elemente */
    font-size: 45px; /* Schriftgröße für h1 */
    font-weight: normal; /* Entferne die fette Darstellung */
    line-height: 1.4; /* Setzt den Zeilenabstand auf 1,4 */
}

h2 {
    font-family: 'TT Wellingtons', sans-serif; /* Setze die Schriftart für alle h2-Elemente */
    font-size: 30px; /* Schriftgröße für h2 */
    font-weight: normal; /* Entferne die fette Darstellung */
    line-height: 1.4; /* Setzt den Zeilenabstand auf 1,4 */
}

h3 {
    font-family: 'TT Wellingtons', sans-serif; /* Setze die Schriftart für alle h3-Elemente */
    font-size: 35px; /* Schriftgröße für h3 */
    font-weight: normal; /* Entferne die fette Darstellung */
    line-height: 1.4; /* Setzt den Zeilenabstand auf 1,4 */
}

h4 {
    font-family: 'TT Wellingtons', sans-serif; /* Setze die Schriftart für alle h4-Elemente */
    font-size: 25px; /* Schriftgröße für h4 */
    font-weight: normal; /* Entferne die fette Darstellung */
    line-height: 1.4; /* Setzt den Zeilenabstand auf 1,4 */
}

h5 {
    font-family: 'TT Wellingtons', sans-serif; /* Setze die Schriftart für alle h3-Elemente */
    font-size: 35px; /* Schriftgröße für h3 */
    line-height: 1.4; /* Setzt den Zeilenabstand auf 1,4 */
}

.hero {
    	margin: 0; /* Entfernt den Abstand um das Hero-Bild */
	position: relative;
    	text-align: center;
}


.hero img {
    	display: block; /* Verhindert zusätzlichen Abstand unter dem Bild */
    	width: 65%; /* Bild auf volle Breite setzen */
    	height: auto; /* Höhe automatisch anpassen */
	margin: auto;
}

.center-text {
    text-align: center;
    margin-top: 20px;
}

header {
    background-color: #fbceb1; /* Behalte die Hintergrundfarbe des Headers */
    padding: 10px 20px; /* Belasse das Padding, um den Header zu gestalten */
    position: sticky; /* Macht den Header sticky */
    top: 0; /* Setzt den Header an den oberen Rand des Bildschirms */
    z-index: 1000; /* Über anderen Elementen anzeigen */
    margin: 0; /* Entfernt den Abstand um den Header */
}


.trennlinie {
    display: block; /* Verhindert zusätzlichen Abstand unter dem Bild */
    width: 45%; /* Setzt die Breite auf 100% des übergeordneten Elements */
    height: auto; /* Höhe automatisch anpassen, um das Seitenverhältnis beizubehalten */
    margin: auto; /* Automatischer Abstand */
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 1.5rem; /* Schriftgröße für den Navigationsbanner anpassen, gleich wie die Links */
    font-weight: bold;
}

.nav-right {
    display: flex; /* Flexbox für die Navigation */
    align-items: center;
}

.nav-right .hamburger {
    display: none; /* Standardmäßig ausblenden */
    font-size: 2rem; /* Größe des Hamburger-Symbols */
    cursor: pointer; /* Zeiger ändern */
}

.nav-links {
    display: flex; /* Flexbox für die Links */
}

.nav-right a {
    margin-left: 20px;
    color: black; /* Schriftfarbe für Links auf Schwarz ändern */
    text-decoration: none;
    font-size: 1.5rem; /* Schriftgröße für Links anpassen */
}

.nav-right a:hover {
    text-decoration: underline; /* Unterstreichen beim Hover */
}




.underline {
    display: flex;
    align-items: center; /* Vertikale Ausrichtung der Elemente */
    justify-content: center; /* Horizontale Ausrichtung der Elemente */
    margin-top: 10px; /* Abstand zwischen Titel und Unterstreichung */
}

.line {
    flex: 1; /* Linien nehmen den verfügbaren Platz ein */
    height: 2px; /* Höhe der Linie */
    background-color: white; /* Farbe der Linie */
    margin: 0 10px; /* Abstand zwischen Linie und Herzen */
}


.einladung {
    padding: 20px;
    background-color: white; /* Hintergrundfarbe für den Einladungstext auf Weiß geändert */
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* Einladungstext mittig ausrichten */
}

.image-slider {
    display: flex; /* Flexbox für das Layout */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
    width: 32%; /* Breite des Sliders */
    position: relative; /* Für die Positionierung der Bilder */
    margin: auto; /* Automatischer Abstand */
    
}

.slider-img {
    max-width: 100%; /* Maximale Breite auf 100% setzen */
    height: auto; /* Höhe automatisch anpassen, um das Seitenverhältnis beizubehalten */
    display: block; /* Verhindert zusätzlichen Abstand unter dem Bild */
}

.prev, .next {
    position: absolute; /* Absolute Positionierung */
    top: 50%; /* Vertikal zentriert */
    transform: translateY(-50%); /* Zentriert die Pfeile vertikal */
    background-color: rgba(255, 255, 255, 0.7); /* Hintergrundfarbe mit Transparenz */
    border: none; /* Kein Rahmen */
    cursor: pointer; /* Zeiger beim Hover */
    font-size: 2rem; /* Größe der Pfeile */
    padding: 10px; /* Polsterung */
    z-index: 10; /* Über dem Bild */
}

.prev {
    left: 10px; /* Abstand vom linken Rand */
}

.next {
    right: 10px; /* Abstand vom rechten Rand */
}

.countdown {
    padding: 20px;
    background-color: white; 
    margin-bottom: 40px;
    border-radius: 8px;
    text-align: center; /* Countdown mittig ausrichten */
}

.countdown-timer {
    display: flex; /* Flexbox für die Countdown-Anzeige */
    justify-content: center; /* Mittige Ausrichtung */
    margin-top: 10px; /* Abstand zwischen Titel und Timer */
}

.countdown-item {
    margin: 0 20px; /* Abstand zwischen den Countdown-Elementen */
    text-align: center; /* Text mittig ausrichten */
}

.countdown-item span {
    font-size: 2rem; /* Schriftgröße für die Zahlen */
    font-weight: normal; /* Fett für die Zahlen */
}

.label {
    font-weight: bold; /* Fett für die Texte "Tage", "Stunden" und "Minuten" */
}

.number {
    font-weight: normal; /* Normale Schriftstärke für die Zahlenwerte */
    font-size: 2rem; /* Schriftgröße für die Zahlen */
}

.timeline-img {
    display: block; /* Bild als Block-Element anzeigen */
    margin: auto; /* Automatischer Abstand oben und unten, zentriert */
    width: 35%;
    height: auto; /* Höhe automatisch anpassen */
}

.location {
    padding: 20px;
    background-color: white;
    margin: 0;
    border-radius: 8px;
    text-align: center; /* Locationstext mittig ausrichten */
}

.location-img {
    display: block; /* Bild als Block-Element anzeigen */
    margin: auto; /* Automatischer Abstand oben und unten, zentriert */    
    width: 60%; /* Setze Bildbreite von s' Bierhase Schiere auf 100%, um den Container auszufüllen */    
    max-width: 100%; /* Bild wird niemals breiter als der Container */
    height: auto;
}

.location-info {
    text-align: center; /* Standortinformationen mittig ausrichten */
}

.location-info img {
    width: 80px; /* Bildgröße für Google Maps */
    height: auto;
}

.map-container {
    position: relative; /* Position relativ für das Pseudoelement */
}

.map-image {
    position: relative; /* Position relativ für die Overlay-Div */
}

.map-image img {
    display: block; /* Bild blockieren */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(251, 206, 177, 0.5); /* Farbe mit Transparenz */
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); /* Hexagon-Form mit Kanten links und rechts */
    opacity: 0; /* Anfangs unsichtbar */
    transition: opacity 0.3s; /* Übergangseffekt */
}

.map-image:hover .overlay {
    opacity: 1; /* Sichtbar beim Hover */
}


.ablaufplan {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* Tagesablauf mittig ausrichten */
}

.hotel {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* Hotel-Banner mittig ausrichten */
}

.hotel-img {
    display: block; /* Bild als Block-Element anzeigen */
    margin: auto; /* Automatischer Abstand oben und unten, zentriert */    
    width: 65%; /* Setze Bildbreite von Parkhotel Krone auf 100%, um den Container auszufüllen */    
    max-width: 100%; /* Bild wird niemals breiter als der Container */
    height: auto;
}

.antworten {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* Rückmeldungs-Banner mittig ausrichten */
}

.tally-survey {
    text-align: center; /* Umfrage mittig ausrichten */
    margin: 20px 0; /* Abstand oben und unten */
}

.tally-survey button {
    padding: 10px 20px; /* Polsterung für den Button */
    font-size: 16px; /* Schriftgröße für den Button */
    background-color: #fbceb1; /* Hintergrundfarbe für den Button */
    color: white; /* Textfarbe für den Button */
    border: none; /* Keine Rahmenlinie */
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer; /* Zeiger ändern beim Hover */
}

.tally-survey button:hover {
    background-color: #D8A1C1; /* Dunklere Farbe beim Hover */
}

.ansprechpartner {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* Organisationsteam-Banner mittig ausrichten */
}

.ansprechpartner-info {
    display: flex; /* Flexbox für die gesamte Info */
    flex-direction: column; /* Anordnung der Trauzeugen in einer Spalte */
    align-items: center; /* Zentriert die Trauzeugen horizontal */
    margin: 20px; /* Margin für den gesamten Bereich */
}

.trauzeuge {
    display: flex; /* Flexbox für die einzelnen Trauzeugen */
    align-items: center; /* Zentriert die Bilder und Texte vertikal */
    margin-bottom: 20px; /* Abstand zwischen den Trauzeugen */
}

.team-member-image {
    width: 200px; /* Beispielbreite für die Bilder */
    height: auto; /* Höhe automatisch anpassen */
    margin-right: 10px; /* Abstand zwischen Bild und Text */
}

.info {
    	text-align: center; /* Text linksbündig ausrichten */
	font-size: 20px;
}

.faq {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* FAQ-Banner mittig ausrichten */
}

.faq-item {
    margin: 10px 0; /* Abstand zwischen den FAQ-Elementen */
	
}

.faq-question {
    cursor: pointer; /* Zeiger ändern beim Hover */
    padding: 10px;
    background-color: white; /* Weißer Hintergrund für die Fragen */
    border-radius: 5px;
    border: 1px solid #fbceb1; /* Optional: Rahmen um die Fragen */
    text-align: center; /* Fragen mittig ausrichten */

	font-family: 'TT Wellingtons', sans-serif; /* Setze die Schriftart für alle faq-Elemente */
   	font-size: 20px; /* Schriftgröße für faq */
    	font-weight: bold; /* fette Darstellung */
}

.faq-answer {
    display: none; /* Antworten standardmäßig ausblenden */
    padding: 10px;
    background-color: white; /* Weißer Hintergrund für die Antworten */
    border-radius: 5px;
    margin-top: 5px; /* Abstand zwischen Frage und Antwort */
    text-align: center; /* Antworten mittig ausrichten */

	font-family: 'TT Wellingtons', sans-serif; /* Setze die Schriftart für alle faq-Elemente */
   	font-size: 18px; /* Schriftgröße für faq */
    	font-weight: normal; /* Entferne die fette Darstellung */
   	line-height: 1.4; /* Setzt den Zeilenabstand auf 1,4 */
}


@media (max-width: 600px) {

h1 {
    font-family: 'Allura', sans-serif; /* Setze die Schriftart für alle h1-Elemente */
    font-size: 33px; /* Schriftgröße für h1 */
    font-weight: normal; /* Entferne die fette Darstellung */
}

h2 {
    font-family: 'TT Wellingtons', sans-serif; /* Setze die Schriftart für alle h2-Elemente */
    font-size: 20px; /* Schriftgröße für h2 */
    font-weight: normal; /* Entferne die fette Darstellung */
}

h3 {
    font-family: 'TT Wellingtons', sans-serif; /* Setze die Schriftart für alle h3-Elemente */
    font-size: 23px; /* Schriftgröße für h3 */
    font-weight: normal; /* Entferne die fette Darstellung */
}

h4 {
    font-family: 'TT Wellingtons', sans-serif; /* Setze die Schriftart für alle h4-Elemente */
    font-size: 18px; /* Schriftgröße für h4 */
    font-weight: normal; /* Entferne die fette Darstellung */
}

.hero {
    	margin: 0; /* Entfernt den Abstand um das Hero-Bild */
	position: relative;
    	text-align: center;
}


.hero img {
    	display: block; /* Verhindert zusätzlichen Abstand unter dem Bild */
    	width: 100%; /* Bild auf volle Breite setzen */
    	height: auto; /* Höhe automatisch anpassen */
	margin: auto;
}
    
.nav-right .hamburger {
    display: block; /* Hamburger-Symbol anzeigen */
}

 .nav-links {
    display: flex; /* Flexbox für die Links */
    flex-direction: column; /* Links untereinander anordnen */
    align-items: center; /* Zentriert die Links horizontal */
    position: absolute; /* Positionierung für Dropdown */
    background-color: #fbceb1; /* Hintergrundfarbe für Dropdown */
    width: 100%; /* Breite auf 100% setzen */
    top: 60px; /* Positionierung unter dem Header */
    left: 0;
    z-index: 1000; /* Über anderen Elementen anzeigen */
    display: none; /* Links standardmäßig ausblenden */
}

    .nav-links.active {
        display: flex; /* Links anzeigen, wenn aktiv */
    }

.nav-right a {
    margin: 10px 0; /* Abstand zwischen Links */
    color: black; /* Schriftfarbe für Links auf Schwarz ändern */
    text-decoration: none;
    font-size: 1.5rem; /* Schriftgröße für Links anpassen */
    text-align: center; /* Links mittig ausrichten */
    width: 100%; /* Breite auf 100% setzen, damit sie den gesamten Container einnehmen */
}


.image-slider {
    
    width: 100%; /* Breite des Sliders */
				        
}

.slider-img {
    width: 100%; /* Maximale Breite auf 100% setzen */
    height: auto; /* Höhe automatisch anpassen, um das Seitenverhältnis beizubehalten */
}

.location-img {
    display: block; /* Bild als Block-Element anzeigen */
    margin: auto; /* Automatischer Abstand oben und unten, zentriert */    
    width: 75%; /* Setze Bildbreite von s' Bierhase Schiere auf 100%, um den Container auszufüllen */    
    max-width: 100%; /* Bild wird niemals breiter als der Container */
    height: auto;
}

.location-info {
        flex-direction: column; /* Elemente untereinander anordnen */
        align-items: center; /* Elemente zentrieren */
}

.location-info img {
    width: 160px; /* Breite des Bildes */
    height: auto; /* Höhe automatisch anpassen */
    margin-right: 20px; /* Abstand zwischen Bild und Text */
}

.location-info div {
    margin-top: 20px; /* Abstand zwischen Bild und Adressinfo */
}

.location-info p {
        font-size: 14px; /* Schriftgröße für mobile Geräte anpassen */
}

.hotel-img {
    display: block; /* Bild als Block-Element anzeigen */
    margin: auto; /* Automatischer Abstand oben und unten, zentriert */    
    width: 80%; /* Setze Bildbreite von Parkhotel Krone auf 100%, um den Container auszufüllen */    
    max-width: 100%; /* Bild wird niemals breiter als der Container */
    height: auto;
}

.timeline-img {
    display: block; /* Bild als Block-Element anzeigen */
    margin: auto; /* Automatischer Abstand oben und unten, zentriert */
    width: 80%;
    height: auto; /* Höhe automatisch anpassen */
}

    .nav-left {
        font-size: 1.5rem; /* Schriftgröße für den Navigationsbanner anpassen, gleich wie die Links */
    }

    .nav-right a {
        font-size: 1.5rem; /* Schriftgröße für Links anpassen */
    }

    .hero-text h1 {
        font-size: 8vw; /* Schriftgröße für den Haupttitel in vw für mobile Geräte */
    }

    .hearts {
        font-size: 5vw; /* Schriftgröße für Herzen in vw für mobile Geräte */
    }
}