body {
    font-family: Arial, sans-serif;
    background-color: white; /* Hintergrundfarbe auf Weiß gesetzt */
    margin: 0;
    padding: 0;
    color: black; /* Textfarbe auf Schwarz gesetzt */
}

header {
    background-color: #EAB8E4; /* Navigationsbanner-Farbe auf Mauve gesetzt */
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 24px;
    font-weight: bold;
}

.nav-right a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.nav-right a:hover {
    text-decoration: underline;
}

.hero {
    position: relative;
    text-align: center;
    margin: 0;
}

.hero img {
    width: 66.67%; /* Bild um ca. 1/3 verkleinert */
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Textfarbe auf Weiß für den Overlay-Text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-text h1 {
    font-size: 4rem; /* Schriftgröße für den Haupttitel verdoppelt */
}

.hearts {
    font-size: 24px;
}

.einladung {
    padding: 20px;
    background-color: white; /* Hintergrundfarbe für den Einladungstext auf Weiß geändert */
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* Einladungstext mittig ausrichten */
}

.countdown {
    padding: 20px;
    background-color: #EAB8E4; /* Mauve Farbe für den Countdown-Bereich */
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* Countdown mittig ausrichten */
}

.countdown-timer {
    background-color: white; /* Hintergrund für den Countdown-Timer auf Weiß */
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px; /* Abstand zwischen Banner und Timer */
    text-align: center; /* Countdown-Informationen mittig ausrichten */
}

.locations {
    padding: 20px;
    background-color: #EAB8E4; /* Mauve Farbe für den Locations-Bereich */
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* Locationstext mittig ausrichten */
}

.locations p {
    margin: 0; /* Kein Margin für den Text unter Locations */
}

.location-info {
    background-color: white; /* Hintergrund für die Standortinformationen auf Weiß */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center; /* Standortinformationen mittig ausrichten */
}